<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shoaib.gomusic" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="adapters_Miscellenous.Application_Class">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="userPortrait"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <!--<data android:scheme="gomusic" android:host="getcallbackhostedsoundcloud" />-->
            </intent-filter>
        </activity>
        <activity
            android:name=".detailedAlbumActivity"
            android:label="@string/title_activity_detailed_album"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity" >

            <!-- For supporting Versions lower than and 4.0 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.shoaib.gomusic.MainActivity" />
        </activity>
        <activity
            android:name=".songPlayBackAcitivty"
            android:label="@string/title_activity_song_play_back_acitivty"
            android:parentActivityName=".detailedAlbumActivity" >

            <!-- For supporting Versions lower than and 4.0 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.shoaib.gomusic.detailedAlbumActivity" />
        </activity>

        <service android:name="adapters_Miscellenous.musicService" />

        <activity
            android:name=".detailedArtistActivity"
            android:label="@string/title_activity_detailed_artist"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity">

            <!-- For supporting Versions lower than and 4.0 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.shoaib.gomusic.MainActivity" />
        </activity>
    </application>

</manifest>
